* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F2F2F2;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar .navbar-logo {
  font-size: 30px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .navbar-logo a {
  width: 116px;
}
.navbar .nav-item a {
  color: white;
  border-bottom: white;
  padding: 5px;
}
.navbar .nav-item a:hover {
  color: white;
  border-bottom: 1px solid;
}
.navbar .nav-item {
  color: white;
}
.navbar .nav__right__list {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .nav__right__list img {
  width: 20px;
  height: 20px;
}
.navbar .nav__right__list .nav__links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .nav__right__list .nav__links a {
  color: white;
  text-decoration: none;
}

.under__nav {
  padding: 15px 340px;
  background-color: #ededed;
  display: flex;
  align-items: center;
  gap: 100px;
}
.under__nav .under__nav__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.under__nav .under__nav__left button {
  width: 184px;
  height: 54px;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1F1D14;
  color: white;
  transition: 0.4s;
}
.under__nav .under__nav__left button:hover {
  box-shadow: 0 0 10px 0 rgb(41, 41, 41);
  color: white;
}
.under__nav .under__nav__left .input__unnav {
  width: 400px;
  height: 46px;
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 30px;
}
.under__nav .under__nav__left .input__unnav input {
  border: none;
  background-color: transparent;
  outline: none;
}
.under__nav .under__nav__left .input__unnav img {
  cursor: pointer;
}
.under__nav .under__nav__right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.under__nav .under__nav__right .unnav__right__btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.under__nav .under__nav__right .unnav__right__btns button {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  background-color: #dcdcdc;
  border: none;
}
.under__nav .under__nav__right .unnav__right__btn__last {
  width: 165px;
  height: 53px;
  border-radius: 3px;
  background-color: #dcdcdc;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hero .hero__wrapper {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.hero .hero__wrapper .hero__left {
  width: 187px;
  height: 256px;
  background-color: rgb(232, 232, 232);
  border-radius: 8px;
  padding: 20px;
}
.hero .hero__wrapper .hero__left .hero__bottom {
  margin-top: 30px;
}
.hero .hero__wrapper .hero__right {
  width: 714px;
  height: 674px;
  background-color: rgb(232, 232, 232);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.hero .hero__wrapper .hero__left__top {
  display: flex;
  align-items: center;
  gap: 10px;
}